html, body {
  margin: 0;
  padding: 0;
}
canvas {
  
  display: block;

  
}

body{
  
  
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

h1 {
  color:rgb(255, 0, 0);
  
  font-family: 'Montserrat', sans-serif;
  font-size:2cm;
  
  display:flex;
  justify-content:space-evenly;
  

  
}
.header{
  position: relative;
    
}
.header img{
  position: absolute;
    padding-top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}

.menu{
  
  
  padding-top: 1%;
 
  font-family: 'Raleway', sans-serif;
  font-size:0.5cm;
  display:flex;
  justify-content: center;
  
  
  

}
.menu a{
  padding-left: 011.10%;
  padding-right:0.1%;
  flex-grow: 0.01;
  background-color: rgba(172, 183, 184, 0.57);
  
  color:whitesmoke;
}

  

